<div class="d-flex justify-content-center flex-column py-4">
    <div class="text-center">
        <div class="d-flex justify-content-between">
            <p class="font-weight-bold mb-0">Código promocional:</p> 
            <p class="ml-2 mb-0">{{promoCode?.code}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="font-weight-bold mb-0">Descripción:</p> 
            <p class="ml-2 mb-0">{{promoCode?.descText}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="font-weight-bold mb-0">Descuento:</p> 
            <p class="ml-2 mb-0">{{promoCode?.discount}}%</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="font-weight-bold mb-0">Veces que consultó:</p> 
            <p class="ml-2 mb-0">{{promoCode?.counter}}</p>
        </div>
    </div>
</div>
